<div class="container my-5">
        <div class="container my-5 d-flex justify-content-center align-items-center" style="height: 300px;">
            <!-- Titre et description -->
             <div style="height:200px" class="col-12 text-center">
            <h1 class="display-4">{{ titre }}</h1>
            <p class="lead">{{ description }}</p>
            <button type="button" routerLink="/public/register"  class="btn btn-lg btn-outline-dark">Rejoignez-Nous</button>
          </div>
          </div>
          <hr>
          <app-categories></app-categories>
          <div class="row mb-4">
            <div class="col-12 text-center">
              <h2 class="text-center text-primary fw-bold mb-4">Notre Programme de Formation</h2>
              <p class="text-muted fs-5">
                Nous proposons un programme complet de formations adaptées à différents niveaux et domaines d'expertise. <br>
                Nos formations couvrent des technologies clés du développement <b>web, mobile, des bases de données,</b> ainsi que des spécialités comme la <b>cybersécurité, le cloud computing,</b> et bien d'autres.
              </p>
              <p class="text-muted fs-5">
                Que vous soyez <b>débutant ou expert,</b> vous trouverez des modules qui répondront à vos besoins pour améliorer vos <b>compétences</b> et rester compétitif sur le marché du travail.
              </p>
              <a routerLink="../trainings" class="btn btn-primary mt-4 text-center">Découvrez nos formations</a>
            </div>
          </div>
        </div>
        
  <hr>
