<div class="container mt-4">
    <h1>Dashboard</h1>
  
    <div class="row mt-4">
      <div class="col-md-3">
        <div class="card text-white bg-primary mb-3">
          <div class="card-header">Total Candidats</div>
          <div class="card-body">
            <h5 class="card-title">{{ totalCandidats }}</h5>
          </div>
        </div>
      </div>
  
      <div class="col-md-3">
        <div class="card text-white bg-success mb-3">
          <div class="card-header">Total Formateurs</div>
          <div class="card-body">
            <h5 class="card-title">{{ totalFormateurs }}</h5>
          </div>
        </div>
      </div>
  
      <div class="col-md-3">
        <div class="card text-white bg-warning mb-3">
          <div class="card-header">Total Sessions</div>
          <div class="card-body">
            <h5 class="card-title">{{ totalSessions }}</h5>
          </div>
        </div>
      </div>
  
      <div class="col-md-3">
        <div class="card text-white bg-danger mb-3">
          <div class="card-header">Total formations</div>
          <div class="card-body">
            <h5 class="card-title">{{ totalTrainings }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  