<form [formGroup]="trainingsForm">
    <div class="container-fluid dashboard">
        <div class="row">
          <h1 class="mb-4 text-center">Trainings</h1>
          <div class="col-12 d-flex justify-content-center mb-4">
            <input
              formControlName="searchInput"
              class="form-control w-50"
              type="search"
              placeholder="Search for Trainings"
            />
          </div>
        </div>
      <div class="row">
        @if(trainingsArr().length >0){ @for(training of trainingsArr(); track
        training){
        <div class="col-12 col-md-6 mb-4">
          <div class="card shadow-sm">
            <div class="card-header bg-success text-white">
              {{ training.titre }}
            </div>
            <div class="card-body">
                <p><strong>Description:</strong> {{ training.description }}</p>
                <p><strong>Level:</strong> {{ training.niveau }}</p>
                <strong>Charge Horaire:</strong> {{ training.chargeHoraire }} hours
              </div>
          </div>
        </div>
        } } @else{
            <div class="alert alert-dismissible alert-danger ">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>No Search Found!!</strong>
              </div>
        }
      </div>
    </div>
  </form>
  