<!-- Section des Catégories de Formations -->
<div id="categories" class="container my-5">
  <h2 class="text-center text-primary fw-bold mb-4">Nos Catégories de Formations</h2>
  <div class="categories-wrapper">
    <div class="categories-container">
      @for(categorie of categories; track categorie) {
      <div class="category-card">
        <div 
          class="bg-image" 
          style="background-image: url('../../../../assets/code.webp'); background-size: cover; background-position: center; height: 180px;">
        </div>
        <div class="card-body text-center p-4">
          <h5 class="card-title text-dark fw-bold mb-3">{{ categorie }}</h5>
          <a 
            [routerLink]="['/formations']" 
            class="btn btn-primary btn-sm px-4 rounded-pill fw-bold shadow-sm"
          >
            Voir les formations
          </a>
        </div>
      </div>
      }
    </div>
  </div>
</div>